.modalWrapper{
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh ;
    width: 100vw;
    background: none;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal{
    width: 300px;
    min-height: 35%;
    background-color: white;
    border-radius: 15%;
    box-shadow: 0px 4px 4px 0px rgba(60,64,67,0.3),
        0px 8px 12px 6px rgba(60,64,67,0.15);
    z-index: 4;
}

.modal header{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: end;
    background-color: azure;
}

.modal header svg{
    height: 30px;
    font-size: 25px;
    margin: 5px 20px 5px 0 ;
    border-radius: 15%;
}

.modalBody{
    height: calc(100% - 40px);
    width: 100%;

}

.eventBody, .assignmentBody{
    margin: 10px auto 10px auto;
    gap: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dateDiv, .title,.location,.colors,.description{
    width: 250px;
    display: flex;
}

.title input {
    margin-left:35px;
    width: 190px;
}

.dateDiv>div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 15px;
}

.dateDiv input{
    width: 193px;
}

.dateDiv>div>div>input{
    width: 85px;
}

.location svg, .description svg, .dateDiv svg{
    font-size: 20px;
    align-self: center;
}

.location input{
    margin-left: 15px;
    width: 190px;
}

.dateDiv>div>.assignmentTimeDiv>input{
    width: 193px;
}

.modal input, .modal textarea{
    padding: 0.75rem 0 0.5rem ;
    color: rgb(75 85 99);
    font-size: larger;
    font-weight: 600;
    border: none;
    border-bottom: 2px solid rgb(229 231 235);
}

.modal textarea{
    margin-left: 15px;
}

.modal textarea::placeholder{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
}

.modal input:focus, .modal textarea:focus{
    outline: none;
    border-bottom:rgb(59 130 246) solid 1px;
}

.colors{
    width: 220px;
    display: flex;
    justify-content: space-between;
}

.selectedDate{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.colorSpan{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}